alabaster==0.7.12
alembic==0.9.10
anaconda-client==1.7.2
anaconda-navigator==1.9.6
anaconda-project==0.8.2
aniso8601==5.1.0
apache-airflow==1.10.3
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.24.0
astroid==2.1.0
atomicwrites==1.3.0
attrs==18.2.0
awscli==1.16.140
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
bitarray==0.8.3
bleach==2.1.4
boto==2.49.0
boto3==1.9.126
botocore==1.12.130
bs4==0.0.1
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
clyent==1.2.2
colorama==0.3.9
conda==4.6.7
configparser==3.5.3
contextlib2==0.5.5
croniter==0.3.27
cryptography==2.5
cycler==0.10.0
Cython==0.29.5
cytoolz==0.9.0.1
decorator==4.3.2
defusedxml==0.5.0
dill==0.2.9
docutils==0.14
entrypoints==0.3
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
findspark==1.3.0
flake8==3.7.7
Flask==1.0.2
Flask-Admin==1.5.3
Flask-AppBuilder==1.12.3
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-Cors==3.0.7
Flask-Login==0.4.1
Flask-OpenID==1.2.5
flask-restplus==0.12.1
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
future==0.16.0
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
gmpy2==2.0.8
google-api-core==1.9.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-dataproc==0.3.1
google-cloud-logging==1.10.0
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
greenlet==0.4.15
grpcio==1.19.0
gunicorn==19.9.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
importlib-metadata==0.7
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.4.2
iso8601==0.1.12
isort==4.3.8
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.4
json-merge-patch==0.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
keyring==18.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.27.0
locket==0.2.0
lockfile==0.12.2
lxml==4.3.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
more-itertools==5.0.0
mpmath==1.1.0
mrjob==0.6.7
msgpack==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==5.7.4
numpy==1.16.2
numpydoc==0.8.0
olefile==0.46
openpyxl==2.6.0
ordereddict==1.1
packaging==19.0
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pendulum==1.4.4
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pipenv==2018.11.26
pluggy==0.9.0
ply==3.11
prettytable==0.7.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.5.0
ptyprocess==0.6.0
py==1.8.0
py4j==0.10.7
pyarrow==0.12.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.1.0
Pygments==2.3.1
pylint==2.2.2
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
PySocks==1.6.8
pyspark==2.4.1
pytest==4.3.0
python-daemon==2.1.2
python-dateutil==2.8.0
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==3.0.0
python3-openid==3.1.0
pytz==2018.9
pytzdata==2018.9
PyYAML==3.13
pyzmq==18.0.0
QtAwesome==0.5.6
qtconsole==4.4.3
QtPy==1.6.0
relativetimebuilder==0.2.0
requests==2.21.0
rope==0.12.0
rsa==3.4.2
ruamel-yaml==0.15.46
s3transfer==0.2.0
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
setproctitle==1.1.10
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.7.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.2.18
sqlparse==0.3.0
statsmodels==0.9.0
sympy==1.3
tabulate==0.8.2
tblib==1.3.2
tenacity==4.12.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.2
thrift==0.11.0
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.11.1
WTForms==2.2.1
wurlitzer==1.0.2
xgboost==0.82
xlrd==1.2.0
XlsxWriter==1.1.5
xlwings==0.15.3
xlwt==1.3.0
zict==0.1.3
zope.deprecation==4.4.0
